page-login {
    .logo{
        display: block;
        margin: 0 auto;
        height:74px;
        width:237px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .inputPhone{
        width:100%;
        padding: 10px;
        border:0;
        font-size: 20px;
    }
    .forget{
        color:gray;

    }
 
}
